<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anne Creates</title>
    <!-- <link
      rel="icon"
      href="./public/images/annecreates.ico"
      type="image/ico"
      sizes="16x16"
    /> -->
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="./main.css" />
    <!-- Google cdn fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=WindSong&display=swap"
      rel="stylesheet"
    />
     <!-- font awsome CDN  from w3 school link-->
     <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
   />
  </head>
  <body>
    <div class="container-fluid">
      <section id="nav-bar ms-auto" class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#"
              ><img src="./public/mylogo.png"
            /></a> -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i> <!--HAMBURGER BUTTON-->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" id="navHome" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="navProjects" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="navGithub" href="#" target="_blank"
                    >Services</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="navLinkedin" href="#" target="_blank"
                    >Gallery</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="navDownload" href="#">Cotact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="navDownload" href="#">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
     </div>
      </section>
      
      
      <!-- Banner logo -->
      <section id="myLogo">
        <!-- <img src="/annecreates/public/images/Anne Creates.png" alt="" /> -->
        <!-- <img src="/public/images/Anne Creates.png" alt="" /> -->
        <img src="../public/images/Anne Creates banner2.png" alt="" />
        <p id="servicing">S E R V I C I N G  &nbsp;&nbsp;  C A L G A R Y &nbsp;,  A L B E R T A</p>
      </section>
      <!-- <div class="container-fluid" id="servicing">
        <p>S E R V I C I N G  &nbsp;&nbsp;  C A L G A R Y &nbsp;,  A L B E R T A</p>
    </div> -->
      <!-- carousel -->
    <div id="carouselContainer">
      <div
        id="carouselExampleDark"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img
              src="../public/images/banner 2.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>HUNDREDS OF AMAZING DESTINATIONS</h5>
              <p>
                We offer a variety of destinations to travel to, ranging from
                exotic to some extreme ones. They include very popular countries
                and cities like Paris, Rio de Janeiro, Cairo and a lot of others
              </p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="4000">
            <img
              src="../public/images/banner 1.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>UNIQUE TRAVEL INSIGHTS</h5>
              <p>
                test test test know everything about the places you’ve never been to!
              </p>
            </div>
          <!-- </div>
          <div class="carousel-item">
            <img
              src="../public/images/test.png"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>THE TRIP OF YOUR DREAM</h5>
              <p>
                test test test
              </p>
            </div>
          </div> -->
          
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
     </div> <!--carousel container end -->
      <!-- Our Mission -->
      <section id="ourMission" class="container-fluid">
        <h5 class="sectionTitle" id="ourMissionTitle">Our Mission</h5>
        <div>
          <p id="ourMissionBody">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A
            molestiae, commodi praesentium minima impedit eos quas nulla
            accusantium voluptates officiis suscipit numquam id voluptate nemo
            assumenda nobis ipsum exercitationem laboriosam.
          </p>
        </div>
      </section>
      <!-- <section id="ourClients" class="container-fluid">    
        <h5 class="sectionTitle">Our Amazing Clients</h5>   
        <div>   
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestiae, commodi praesentium minima impedit eos quas nulla accusantium voluptates officiis suscipit numquam id voluptate nemo assumenda nobis ipsum exercitationem laboriosam.</p>    
        </div>  
      </section> -->

      <!-- Gallery -->
      <section id="ourServices">
        <h5 class="sectionTitle">Our Services</h5>
        <div class="row footerRow">
          <!-- <img id="footerImage" src="./public/footerimage.png" class="bottom-img"> -->
          <div id="divFooter" class="col-12">
            <!-- CARD START -->
            <div class="row row-cols-1 row-cols-md-3 g-1">
              <div class="col">
                <div class="card h-100">
                  <!-- <a href="./public/Project1/project1.html" target="_blank"> -->
                    <div class="container mt-3">
                    <img
                    src="https://i.ibb.co/gRpP2Lm/icons8-online-128.png"
                      class="card-img-top"
                      alt="Workshop1"
                  /></a>
                </div>
                  <div class="card-body">
                    <h5 class="card-title">Package A</h5>
                    <p class="card-text">- Set up and take down</p>
                    <p class="card-text">- HTML, CSS, Javascript</p>
                    <p class="card-text">- NodeJS, ejs</p>
                    <p class="card-text">- MySql, MongoDb</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">June 2021</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <!-- <p id="cardtestinside">- TESTTESTETESTSETSET</p> -->
                  <div class="container mt-3">
                  <img
                  src="../public/images/baloon1.png"
                    class="card-img-top"
                    alt="..."
                    
                  /></div>
                  <div class="card-body">
                    <h5 class="card-title">School Project 2 (website)</h5>
                    <p class="card-text">- Visual Studio</p>
                    <p class="card-text">- C# ASP.net MVC</p>
                    <p class="card-text">- Microsoft SQL Server</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">August 2021</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <!-- <p id="cardtestinside">- TESTTESTETESTSETSET</p> -->
                  <div class="container mt-3">
                  <img
                  src="../public/images/baloon1.png"
                    class="card-img-top"
                    alt="..."
                    
                  /></div>
                  <div class="card-body">
                    <h5 class="card-title">School Project 2 (website)</h5>
                    <p class="card-text">- Visual Studio</p>
                    <p class="card-text">- C# ASP.net MVC</p>
                    <p class="card-text">- Microsoft SQL Server</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">August 2021</small>
                  </div>
                </div>
              </div>
          <div class="col">
            <div class="card h-100">
              <!-- <p id="cardtestinside">- TESTTESTETESTSETSET</p> -->
              <div class="container mt-3">
              <img
              src="../public/images/baloon1.png"
                class="card-img-top"
                alt="..."
                
              /></div>
              <div class="card-body">
                <h5 class="card-title">School Project 2 (website)</h5>
                <p class="card-text">- Visual Studio</p>
                <p class="card-text">- C# ASP.net MVC</p>
                <p class="card-text">- Microsoft SQL Server</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">August 2021</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <!-- <p id="cardtestinside">- TESTTESTETESTSETSET</p> -->
              <div class="container mt-3">
              <img
              src="../public/images/baloon1.png"
                class="card-img-top"
                alt="..."
                
              /></div>
              <div class="card-body">
                <h5 class="card-title">School Project 2 (website)</h5>
                <p class="card-text">- Visual Studio</p>
                <p class="card-text">- C# ASP.net MVC</p>
                <p class="card-text">- Microsoft SQL Server</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">August 2021</small>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <!-- <p id="cardtestinside">- TESTTESTETESTSETSET</p> -->
              <div class="container mt-3">
              <img
              src="../public/images/baloon1.png"
                class="card-img-top"
                alt="..."
                
              /></div>
              <div class="card-body">
                <h5 class="card-title">School Project 2 (website)</h5>
                <p class="card-text">- Visual Studio</p>
                <p class="card-text">- C# ASP.net MVC</p>
                <p class="card-text">- Microsoft SQL Server</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">August 2021</small>
              </div>s
            </div>
          </div>

          
          
      </section>

      <!--cards row end -->
    <div id="setmoreContainer" class="container-fluid">
    <div><p id="bookEvent">BOOK YOUR EVENT</p></div>
      <div id="setmoreButton" class="container-fluid">
        <!-- <p id="test">testtestestsetsetestestsetsetestet</p> -->
        <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/webapp/js/src/others/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://booking.setmore.com/scheduleappointment/269066c3-b49c-4462-8ddc-079b4a084259"><img border="none" src="https://storage.googleapis.com/full-assets/setmore/images/1.0/Settings/book-now-blue.png" alt="Book an appointment with Nicoderilo.com using Setmore" /></a>

      </div>
    </div>
      <!--divFooter end -->
      <p id="copyright">
        Handcrafted with love by <a href="http://nicoderilo.com/" target="_blank">nicoderilo.com</a> &nbsp;|&nbsp; Copyright 2022 &copy;
      </p>
    </div>
      
    </div>
    <!-- End of Container fluid -->
  </body>
</html>
