@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background-color: rgb(252, 251, 244);
}
.nav-link {
  color: rgb(121, 41, 81) !important;
  font: weight 100px;
  font-size: larger;
  font-family: "Roboto Slab", serif;
}

#carouselContainer {
  border: deeppink 1px solid;
}
.carousel-item {
  /* height: 100vh; */
  /* width: 100%; */
}

.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/* .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
} */
#myLogo {
  align-items: center;
  width: 100%;
  /* border: 1pc red solid; */
}

#myLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: chartreuse 1px dashed;
}
#servicing {
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-size: 1em;
  color: rgb(121, 41, 81);
  text-align: center;
  margin-bottom: 15px;
  /* height: 20%; */
}
#ourMission {
  height: 65%;
  /* font-size: 30px; */
  /* border: 3pc solid red; */
  align-items: center;
  background-size: cover;
  width: 100%;
  padding: 60px 10px 100px 10px;
  /* opacity: 0.2;  */
  /* background-image: url("https://c8.alamy.com/zooms/9/461ee8dc738d4c6e89e5e25e44b110bb/2ddj297.jpg"); */
  /* background-image: url("https://i.pinimg.com/originals/84/f9/56/84f956c9f8f02f01950a75604e448248.jpg"); */
  background-image: url("../public/images/flower.png");
}

#ourMissionTitle {
  /* padding: 25px; */
  padding: 0px 5px 0px 5px;
  text-align: center;
  width: 100%;
  color: rgb(175, 119, 133);
  font-size: 3.5em;
  font-family: "WindSong", cursive;
}

#ourMissionBody {
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

#ourServices {
  border: 1px solid rgb(43, 226, 125);
  padding-bottom: 50px;
}

#ourServices .sectionTitle {
  border: 1px solid rgb(43, 226, 125);
  text-align: center;
  /* padding-bottom: 50px; */
}

.col {
  margin-bottom: 20px;
}
.card {
  border-radius: 40px;
  margin: 40px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
  transition: all 0.15s ease;
}

.card:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1), 0 10px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 24px;
  color: #121212;
}

.card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #4e4e4e;
}

.card .container {
  width: 88%;
  background: #f0eef8;
  border-radius: 30px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.container:hover > img {
  transform: scale(1.2);
}

.container img {
padding: 85px;  
margin-top: -40px;
margin-bottom: -40px;
transition: 0.4s ease;
cursor: pointer;
}
#Setmore_button_iframe {
  color: chartreuse;
}

#setmoreContainer {
  border: blue 2px solid;
  /* position: relative; */
  align-items: center;
  text-align: center;
  padding: 50px 0px 100px 0px;

}

#setmoreButton {
  /* width: 100%; */
  /* align-items: center; */
  /* text-align: center; */
  /* position:fixed; */
  border: red 1px solid;
  /* position: absolute; */
  margin-top: 50px;
  /* padding-top: 40px; */
  /* display: flex; */
  

}


a#Setmore_button_iframe
{
     /* position: absolute; */
     /* position:absolute; */
}
a#Setmore_button_iframe > img {
    display: none;
}
a#Setmore_button_iframe:after {
     content:"GET STARTED NOW";
     /* justify-content: center; */
     /* position: absolute; */
     left: 0;
     /* top: 100%; */
     white-space: nowrap;
     border: none;
     border-radius: 8px;
     color: white;
     padding: 16px 32px;
     /* text-align: center; */
     text-decoration: none;
     /* display: inline-block; */
     font-size: 16px;
     /* margin: 4px 2px; */
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
     cursor: pointer;
     background-color: rgb(248, 222, 235);
     color: black;
     /* border: 2px solid #fab7dc; */
    font-family: sans-serif;


}
a#Setmore_button_iframe:hover:after {
    background-color: #27C3BB;
    color: white;
}


#copyright {
  font-size: 0.5 em;
  width: 100%;
  text-align: center;
}
