@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap");
/* - Bootstrap icon CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background-color: #fcfbf4;
  /* background-color: #e0c200; */
  /* width: 100%; */
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; /*hide scrool bar vertical*/
  /* overflow: hidden; */
}

#mainContainer {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-image: linear-gradient(to right, #f8bc76e0, #f88da6);
}
.nav-link {
  /* color: rgb(121, 41, 81) !important; */
  color: rgb(254, 249, 252) !important;
  font: weight 100px;
  font-size: larger;
  font-family: "Roboto Slab", serif;
}

#carouselContainer {
  /* border: deeppink 1px solid; */
}

.carousel .item {
  height: 500px;
}

.item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

/* .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
} */
#myLogo {
  align-items: center;
  width: 100%;
  /* border: 1pc red solid; */
}

#myLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  /* border: chartreuse 1px dashed; */
}
#servicing {
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-size: 1em;
  color: rgb(121, 41, 81);
  text-align: center;
  margin-bottom: 15px;
  /* height: 20%; */
}
#ourMission {
  height: 85%;
  /* font-size: 30px; */
  /* border: 3pc solid red; */
  align-items: center;
  background-size: cover;
  width: 100%;
  padding: 60px 40px 100px 40px;
  /* opacity: 0.2;  */
  /* background-image: url("https://c8.alamy.com/zooms/9/461ee8dc738d4c6e89e5e25e44b110bb/2ddj297.jpg"); */
  /* background-image: url("https://i.pinimg.com/originals/84/f9/56/84f956c9f8f02f01950a75604e448248.jpg"); */
  background-image: url("../public/images/flower.png");
}

#ourMissionTitle {
  /* padding: 25px; */
  padding: 0px 5px 30px 5px;
  text-align: center;
  width: 100%;
  color: rgb(175, 119, 133);
  font-size: 3em;
  letter-spacing: 0.1em;
  /* font-family: "WindSong", cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: "Lobster", cursive;
}

#ourMissionBody {
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: 0.02em;
  /* text-align: center; */
}

#ourServices {
  /* border: 1px solid rgb(43, 226, 125); */
  padding-bottom: 50px;
}

#ourServicesTitle {
  /* border: 1px solid rgb(43, 226, 125); */
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  font-family: "Lobster", cursive;
  color: rgb(175, 119, 133);
  /* height: 10px; */
  /* padding-bottom: 50px; */
}

.col {
  margin-bottom: 20px;
  height: 350px;
  /* border: #25de51 solid 4px; */
}
.card {
  border-radius: 40px;
  border: #25de51 solid 9px;
  margin: 40px;
  overflow: hidden;
  /* height: 1000px; */
  border: 0;

  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
  transition: all 0.15s ease;
}

.card:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1), 0 10px 8px rgba(0, 0, 0, 0.015);
}
.card-title {
  text-align: center;
  

}
.card-body .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  /* height: 50px; */
  border: red solid 1px;
  font-size: 24px;
  color: #121212;
}

.card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: rgb(68, 24, 181) solid 1px;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #4e4e4e;
}

 .container {
  width: 88%;
  background: #f0eef8;
  border: #0ed4ee solid 7px;
  border-radius: 30px;
  /* height: 200px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin-bottom: 20px; */
}
.card-footer {
  align-items: center;
  text-align: center;
  
}
.container:hover > img {
  transform: scale(1.2);
}

.container img {
  border: #f37171 solid 1px;
  /* padding: 65px; */
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.4s ease;
  cursor: pointer;
  width: 90px;
  border: #e504da solid 4px;
}
/* #Setmore_button_iframe {
  /* color: chartreuse; 
} 
*/
#galleryContatiner {
  border: red solid 2px;
  /* position:absolute; */
  /* padding: 5px; */
  /* height: 40px; */
  /* width: 1500px; */
  /* display:grid; */
  /* margin: 100px 0px 100px 0px; */
}
@media (max-width:567px) {
  #galleryContatiner {
    border: rgb(9, 216, 50) solid 2px;
    /* width: 1000px; */
    /* display: inline-block; */
    /*  */
    /* height: 300px; */
  }

  #galleryContatiner img {
    /* width:2000px; */
    /* height: 90px; */
  }
}



#setmoreContainer {
  /* border: blue 2px solid; */
  /* background-image: ; */
  background-image: url(../public/images/watercolor6.png);
  background-size: cover;
  /* position: relative; */
  align-items: center;
  text-align: center;
  padding: 100px 0px 100px 0px;
}
#bookEvent {
  font-family: "Lato", sans-serif;
  color: rgb(175, 119, 133);
  font-size: 1.2rem;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

#setmoreButton {
  text-decoration: none;

  /* width: 100%; */
  /* align-items: center; */
  /* text-align: center; */
  /* position:fixed; */
  /* border: red 1px solid; */
  /* position: absolute; */
  margin-top: 50px;
  /* padding-top: 40px; */
  /* display: flex; */
}

a#Setmore_button_iframe {
  /* position: absolute; */
  /* position:absolute; */
}

a#Setmore_button_iframe > img {
  display: none;
  text-decoration: none;
}
a#Setmore_button_iframe:after {
  content: "GET STARTED";
  font-family: "Lato", sans-serif;
  /* color: rgb(175, 119, 133); */
  /* justify-content: center; */
  /* position: absolute; */
  left: 0;
  /* top: 100%; */
  white-space: nowrap;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 1.2em;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f37171;
  /* color: rgb(250, 99, 99); */
  /* color: black; */
  /* border: 2px solid #fab7dc; */
  /* font-family: sans-serif; */
}
a#Setmore_button_iframe:hover:after {
  background-color: #f8bc76e0;

  color: white;
}

#footerSection {
  /* display: inline-block; */
  /* border: fuchsia solid 3px; */
  /* background-color: #E97777; */
  /* background-color: rgb(255, 159, 159); */
  /* background-image: linear-gradient(to right,#f8bc76e0,#ec7272);  */
  background-image: linear-gradient(to right, #f8bc76e0, #f88da6);
  /* f3cdd6 */
  width: 100%;
  padding: 50px 10px 10px 10px;
  /* margin-bottom: 40px; */
  /* top right bottom left */
}

#leftFooter {
  /* border: steelblue solid 2px; */
  font-family: "Roboto Slab", serif;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  /* text-justify: auto; */
  border-right: rgb(240, 198, 169) solid 1px;
  text-align: justify;
  /* padding-top: 20px; */
  /* top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; */
  color: #ffffff;
}
#rightFooter {
  padding-top: 50px;
  /* font-family: "Roboto Slab", serif; */
  /* border: rgb(159, 34, 170) solid 2px; */
  /* display: flex; */
  /* justify-content: center; */
}
#followUs {
  color: rgb(255, 253, 250);
  font-size: 2em;
  font-family: "Roboto Slab", serif;
}
#social {
  padding-top: 0px;
  margin-top: 0pt;
  color: rgb(255, 253, 250);
  font-size: 0.8em;
  font-family: "Roboto Slab", serif;
}
#logoContainer {
  width: 100%;
  align-items: center;
  text-align: center;
  color: #f0eef8;
}
#logoContainer p {
  font-size: 5em;
  color: #f0eef8;
}
#logoContainer img {
  width: 120px;
  height: 120px;
}

#iconsContainer {
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  /* border:rgb(43, 226, 125) solid 2px; */
}
.bi {
  padding: 10px 10px 10px 10px;
  font-size: 40px;
  /* width: 35px; */
  text-align: center;
  text-decoration: none;
  /* color: rgb(250, 99, 99); */
  color: rgb(243, 236, 236);
  margin: 5px 5px;
  border-radius: 50%;
}

#copyright {
  font-size: 0.8rem;
  /* width: 100%; */
  text-align: center;
  font-size-adjust: inherit;
  /* text-size-adjust: auto; */
  padding-bottom: 0px;
  /* border: fuchsia solid 3px; */
  padding-top: 10px;
  border-top: rgb(250, 184, 184) solid 1px;
  color: #ffffff;
}

#copyright a {
  text-decoration: none;
  color: rgb(255, 227, 246);
}

/* ------- */