@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background-color: rgb(252, 251, 244);
}
.nav-link {
  color: rgb(121, 41, 81) !important;
  font: weight 100px;
  font-size: larger;
  font-family: "Roboto Slab", serif;
}
.carousel-item {
  height: 100vh;
  /* width: 100%; */
}

.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/* .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
} */
#myLogo {
  align-items: center;
  width: 100%;
  /* border: 1pc red solid; */
}

#myLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#servicing {
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-size: 1em;
  color: rgb(121, 41, 81);
  text-align: center;
  margin-bottom: 15px;
}
#ourMission {
  height: 350px;
  /* font-size: 30px; */
  /* border: 3pc solid red; */
  align-items: center;
  background-size: cover;
  /* opacity: 0.2;  */
  /* background-image: url("https://c8.alamy.com/zooms/9/461ee8dc738d4c6e89e5e25e44b110bb/2ddj297.jpg"); */
  /* background-image: url("https://i.pinimg.com/originals/84/f9/56/84f956c9f8f02f01950a75604e448248.jpg"); */
  background-image: url("../public/images/flower.png");
}

#ourMissionTitle {
  padding-top: 25px;
  text-align: center;
  width: 100%;
  color: rgb(226, 149, 175);
  font-size: 4em;
  font-family: "WindSong", cursive;
}

#ourMissionBody {
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.card {
  border-radius: 40px;
  margin: 40px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
  transition: all 0.15s ease;
}

.card:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1), 0 10px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 24px;
  color: #121212;
}

.card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #4e4e4e;
}

.card .container {
  width: 88%;
  background: #f0eef8;
  border-radius: 30px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover > img {
  transform: scale(1.2);
}

.container img {
padding: 85px;  
margin-top: -40px;
margin-bottom: -40px;
transition: 0.4s ease;
cursor: pointer;
}
#Setmore_button_iframe {
  color: chartreuse;
}
#setmoreButton {
  width: 100%;
  align-items: center;
}

#copyright {
  font-size: 0.5 em;
  width: 100%;
  text-align: center;
}
